body {
    background: rgb(30, 26, 32);
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1 {
    color: rgb(141, 120, 162);
    text-align: center;
}

p {
    color: rgb(141, 120, 162);
    text-align: center;
}

.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(67, 54, 54); /* pick a color */
    border-radius: 25%;
}